---
- name: HMC poweroff and modify system configuration and resource settings and then poweron Managed System
  hosts: hmcs
  collections:
      - ibm.power_hmc
  connection: local
  vars:
    curr_hmc_auth:
      username: hscroot
      password:  !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34656335616165343966323739633761653065346138623233633764353636373063313736373563
          6130373162376464666634363734303164396364656535350a663661636663323434386466383634
          63323432303833643864396130393133346666336661346432356433353035663038643833373332
          3664333762656138640a306539363765343261383363346532643639383938656434333564323139
          6365

  tasks:
  - name: list managed system details
    power_system:
      hmc_host: '{{ inventory_hostname }}'
      hmc_auth: "{{ curr_hmc_auth }}"
      system_name: hydmstuleta2_new
      state: facts
    register: testout

  - name: Stdout the created logical partition
    debug:
        msg: '{{ testout }}'

  - name: PowerOff Managed System
    power_system:
      hmc_host: '{{ inventory_hostname }}'
      hmc_auth: "{{ curr_hmc_auth }}"
      system_name: hydmstuleta2_new
      action: poweroff

  - name: Modify Managed System name, Power off and on policy
    power_system:
      hmc_host: '{{ inventory_hostname }}'
      hmc_auth: "{{ curr_hmc_auth }}"
      system_name: hydmstuleta2_new
      new_name: hydmstuleta2
      power_on_lpar_start_policy: userinit
      power_off_policy: 0
      action: modify_syscfg

  - name: Modify Managed System memory settings
    power_system:
      hmc_host: '{{ inventory_hostname }}'
      hmc_auth: "{{ curr_hmc_auth }}"
      system_name: hydmstuleta2
      pend_mem_region_size: auto
      requested_num_sys_huge_pages: 10
      action: modify_hwres

  - name: PowerOn Managed System
    power_system:
      hmc_host: '{{ inventory_hostname }}'
      hmc_auth: "{{ curr_hmc_auth }}"
      system_name: hydmstuleta2
      action: poweron
