---
- name: HMC delete partition
  hosts: unknowns
  collections:
      - ibm.power_hmc
  connection: local
  vars:
    curr_hmc_auth:
      username: hscroot
      password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34656335616165343966323739633761653065346138623233633764353636373063313736373563
          6130373162376464666634363734303164396364656535350a663661636663323434386466383634
          63323432303833643864396130393133346666336661346432356433353035663038643833373332
          3664333762656138640a306539363765343261383363346532643639383938656434333564323139
          6365

  tasks:
  - name: Delete logical partition along with VIOS disk mapping and associated vdisk
    powervm_lpar_instance:
      hmc_host: <hmcip>
      hmc_auth: "{{ curr_hmc_auth }}"
      vm_name: '{{ inventory_hostname }}'
      retain_vios_cfg: False
      delete_vdisks: True
      state: absent
